:root{
	--primary-colour: white;
	--secondary-colour: #5F6368;
}

.clock1{
	font-family: "Open Sans";
	font-size: 96px;
	font-weight: 200;
	color: var(--secondary-colour);
}

.clock1.back{
	background: var(--primary-colour);
	border-radius: 12px;
}

.clock1.seconds{
	font-size: 48px;
}