:root{
	--size: 96px;
}

.clock0-cat.holder{
	width: 80%;
	height: fit-content;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

	margin: auto;
}

/* HTML Version*/
.clock0-cat.layer-0{
	width: auto;
	height: var(--size);
	aspect-ratio: 1;

	position: relative;
}

.clock0-cat.layer-1-0{
	width: 100%;
	height: 100%;

	position: absolute;
}

.clock0-cat.layer-1-1{
	width: 100%;
	height: 100%;

	position: absolute;
}

/* SVG Version */
.clock0-cat-svg.body.left{}
.clock0-cat-svg.body.right{}

.clock0-cat-svg.outline{}
.clock0-cat-svg.inside{}