:root{
	--bar-height: 64px;
	--bar-inner-ratio: 20%;
}

/**/
body{
	width: 100vw;
	height: fit-content;
}

/**/
.progressbar-back{
	width: 100%;
	height: fit-content;

	display: block;
	user-select: none;
}

/**/
.progressbar-body{
	width: 100%;
	height: var(--bar-height);

	display: block;
	position:relative;
}

.progressbar{
	max-width: 100%;
	height: var(--bar-inner-ratio);

	position: absolute;
	bottom: 4px;
}

.progress-labels{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;

	position: absolute;
	padding: 0px 8px;
}

.progress-label{
	width: 100px;
	height: fit-content;
}

/**/
.label{
	width: fit-content;
	height: fit-content;

	margin: auto;
}