@import url("/styles/font/Google.css");

/* Structure */
*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	touch-action: none;
}

*::-webkit-scrollbar{
	display: none;
}

body{
	width: fit-content;
	height: fit-content;

	position: relative;

	padding: 0;
	margin: auto;
}

body *{
	touch-action: auto;
}

/* Face */
html{
	font-family: "Open Sans", "Noto Sans JP";
	color: #5F6368;
}